In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [2]:
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"

In [4]:
html_data  = requests.get(url).text

In [5]:
html_data[101:124]

'List of largest banks -'

In [7]:
soup = bs(html_data, "lxml")

In [10]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all("tbody")[2].find_all("tr"):
    cols = row.find_all("td")
    
    if len(cols) == 0:
           continue
    else: 
           data = data.append({"Name": cols[1].text.strip(),
                         "Market Cap (US$ Billion)": cols[2].text.strip()}, ignore_index=True)

In [11]:
data.head(20)

                                       Name Market Cap (US$ Billion)
0                            JPMorgan Chase                   368.78
1   Industrial and Commercial Bank of China                   295.65
2                           Bank of America                   279.73
3                               Wells Fargo                   214.34
4                   China Construction Bank                   207.98
5                Agricultural Bank of China                   181.49
6                         HSBC Holdings PLC                   169.47
7                            Citigroup Inc.                   163.58
8                             Bank of China                   151.15
9                      China Merchants Bank                   133.37
10                     Royal Bank of Canada                   113.80
11                    Toronto-Dominion Bank                   106.61
12                        Commonwealth Bank                    99.77
13                            Itaú Unibanco                    85.68
14                             U.S. Bancorp                    84.40
15                            Goldman Sachs                    78.70
16                          Banco Santander                    75.47
17                           Morgan Stanley                    73.93
18                                  Westpac                    67.84
19           Mitsubishi UFJ Financial Group                    66.20

In [14]:
data.to_json("bank_market_cap.json", orient="records", lines=True)